@import url('/css/List.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter_28pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.sd {
  box-shadow: 35px 35px #18181888;
}

